SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=

POSTGRES_URL=postgresql://user:pass@host/db
POSTGRES_PRISMA_URL=postgresql://user:pass@host/db?pgbouncer=true
POSTGRES_URL_NON_POOLING=postgresql://user:pass@host/db

CRON_SECRET=random_secret_shhhh
