@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom right, #ffffff 0%, #dfdfdf 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sour-gummy);
  --font-mono: var(--font-sour-gummy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #000000 0%, #1a1a1a 100%);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sour-gummy), "Sour Gummy Fallback", sans-serif;
}
